# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
from datetime import datetime
import os
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [38]:
start_date = datetime(2015, 1, 1)
end_date = datetime.today()

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [6]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [39]:
df = web.DataReader('TSLA', "av-daily", start=start_date, end=end_date, api_key='AB2K0QVWO5Z5O8O0)')
df.head()
# AB2K0QVWO5Z5O8O0

              open      high      low    close   volume
2015-01-02  222.87  223.2500  213.260  219.310  4764400
2015-01-05  214.55  216.5103  207.163  210.090  5368500
2015-01-06  210.06  214.2000  204.210  211.280  6261900
2015-01-07  213.35  214.7800  209.780  210.950  2968400
2015-01-08  212.81  213.8000  210.010  210.615  3442500

### Step 5.  What is the type of structure of df ?

In [40]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [41]:
df.items

<bound method DataFrame.items of               open      high      low    close    volume
2015-01-02  222.87  223.2500  213.260  219.310   4764400
2015-01-05  214.55  216.5103  207.163  210.090   5368500
2015-01-06  210.06  214.2000  204.210  211.280   6261900
2015-01-07  213.35  214.7800  209.780  210.950   2968400
2015-01-08  212.81  213.8000  210.010  210.615   3442500
...            ...       ...      ...      ...       ...
2019-09-27  242.20  248.7100  238.730  242.130  11116400
2019-09-30  243.00  243.9800  236.110  240.870   5879800
2019-10-01  241.50  245.9500  239.130  244.690   6162600
2019-10-02  243.29  244.6500  239.430  243.130   5631400
2019-10-03  231.86  234.4700  224.280  233.030  14921363

[1197 rows x 5 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.