# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv(r"C:\jupyter\pandas_exercise\06_Stats\Wind_Stats\wind.data", delim_whitespace =True)
data['Yr'] = data['Yr'].apply(lambda x:  '19'+str(x))
data['Mo'] = data['Mo'].apply(lambda x: str(x).zfill(2))
data['Dy'] = data['Dy'].apply(lambda x: str(x).zfill(2))

data['time'] = data.Yr + data.Mo + data.Dy
data['time'] = pd.to_datetime(data['time'] , format = '%Y%m%d')
del data['Yr'], data['Mo'], data['Dy']
data = data.set_index(data.time)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,time
time,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31


### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [4]:
#fixed above

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [5]:
data.index
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,time
time,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [6]:
data.isna().sum()

RPT     6
VAL     3
ROS     2
KIL     5
SHA     2
BIR     0
DUB     3
CLA     2
MUL     3
CLO     1
BEL     0
MAL     4
time    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [7]:
data.notnull().sum()

RPT     6568
VAL     6571
ROS     6572
KIL     6569
SHA     6572
BIR     6574
DUB     6571
CLA     6572
MUL     6571
CLO     6573
BEL     6574
MAL     6570
time    6574
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [8]:
data.mean().mean()

10.227982360836938

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [9]:
loc_stats = data.describe()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [10]:
# day_stats  = data.groupby(data.index).agg([pd.np.min, pd.np.max, pd.np.mean, pd.np.std])
data['min'] = data.min(axis=1)
data['max'] = data.max(axis=1)
data['mean'] = data.mean(axis=1)
data['std'] = data.std(axis=1)
day_stats = data.loc[:, 'min':]
day_stats.head()

             min    max       mean       std
time
1961-01-01  9.29  18.50  13.153077  3.071092
1961-01-02  6.50  17.54  11.441538  3.545621
1961-01-03  6.17  18.50  11.748462  4.042014
1961-01-04  1.79  11.75   6.640714  3.403233
1961-01-05  6.17  13.33  10.504286  2.573737

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [11]:
data = data.loc[:, 'RPT':'MAL']
jan_data = data[data.index.month ==1]
jan_data.mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [12]:
data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
time,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [13]:
data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
time,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

### Step 14. Downsample the record to a weekly frequency for each location.

In [14]:
w_data = data.groupby(data.index.to_period('W')).mean()
w_data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
time,,,,,,,,,,,,
1960-12-26/1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [32]:
w_data2= w_data.resample('W').agg(['min', 'max', 'mean', 'std'])
w_data2.loc[w_data2.index[1:53], :]

                             RPT                                  VAL  \
                             min        max       mean std        min
time
1961-01-02/1961-01-08  13.541429  13.541429  13.541429 NaN  11.486667
1961-01-09/1961-01-15  12.468571  12.468571  12.468571 NaN   8.967143
1961-01-16/1961-01-22  13.204286  13.204286  13.204286 NaN   9.862857
1961-01-23/1961-01-29  19.880000  19.880000  19.880000 NaN  16.141429
1961-01-30/1961-02-05  16.827143  16.827143  16.827143 NaN  15.460000
1961-02-06/1961-02-12  19.684286  19.684286  19.684286 NaN  16.417143
1961-02-13/1961-02-19  15.130000  15.130000  15.130000 NaN  15.091429
1961-02-20/1961-02-26  15.221429  15.221429  15.221429 NaN  13.625714
1961-02-27/1961-03-05  12.101429  12.101429  12.101429 NaN  12.951429
1961-03-06/1961-03-12   9.376667   9.376667   9.376667 NaN  11.578571
1961-03-13/1961-03-19  11.911429  11.911429  11.911429 NaN  13.501429
1961-03-20/1961-03-26   9.567143   9.567143   9.567143 NaN   8.387143
1961-03-27/1961-04-02  10.757143  10.757143  10.757143 NaN   8.852857
1961-04-03/1961-04-09  11.964286  11.964286  11.964286 NaN  10.654286
1961-04-10/1961-04-16   8.965714   8.965714   8.965714 NaN   8.000000
1961-04-17/1961-04-23  12.621429  12.621429  12.621429 NaN  10.438571
1961-04-24/1961-04-30  10.117143  10.117143  10.117143 NaN   9.798571
1961-05-01/1961-05-07  15.367143  15.367143  15.367143 NaN  13.970000
1961-05-08/1961-05-14   7.772857   7.772857   7.772857 NaN   8.712857
1961-05-15/1961-05-21   8.225714   8.225714   8.225714 NaN   5.631667
1961-05-22/1961-05-28   8.155714   8.155714   8.155714 NaN   7.388571
1961-05-29/1961-06-04  10.321429  10.321429  10.321429 NaN   7.407143
1961-06-05/1961-06-11  10.917143  10.917143  10.917143 NaN   8.992857
1961-06-12/1961-06-18  10.571429  10.571429  10.571429 NaN   9.565714
1961-06-19/1961-06-25   7.345714   7.345714   7.345714 NaN   6.108571
1961-06-26/1961-07-02  10.236667  10.236667  10.236667 NaN   9.482857
1961-07-03/1961-07-09  11.715714  11.715714  11.715714 NaN   7.220000
1961-07-10/1961-07-16  16.680000  16.680000  16.680000 NaN  13.518571
1961-07-17/1961-07-23   4.202857   4.202857   4.202857 NaN   4.255714
1961-07-24/1961-07-30  10.561429  10.561429  10.561429 NaN   8.445714
1961-07-31/1961-08-06  10.870000  10.870000  10.870000 NaN   8.792857
1961-08-07/1961-08-13  10.058333  10.058333  10.058333 NaN   7.941429
1961-08-14/1961-08-20  15.607143  15.607143  15.607143 NaN  10.565714
1961-08-21/1961-08-27  12.391429  12.391429  12.391429 NaN  11.430000
1961-08-28/1961-09-03   8.678571   8.678571   8.678571 NaN   8.821429
1961-09-04/1961-09-10  10.541429  10.541429  10.541429 NaN   8.798571
1961-09-11/1961-09-17  17.160000  17.160000  17.160000 NaN  14.440000
1961-09-18/1961-09-24   8.500000   8.500000   8.500000 NaN   7.154286
1961-09-25/1961-10-01  16.044286  16.044286  16.044286 NaN  11.361667
1961-10-02/1961-10-08  11.250000  11.250000  11.250000 NaN   8.757143
1961-10-09/1961-10-15  10.881667  10.881667  10.881667 NaN   9.734286
1961-10-16/1961-10-22  19.260000  19.260000  19.260000 NaN  13.364286
1961-10-23/1961-10-29  16.077143  16.077143  16.077143 NaN  11.867143
1961-10-30/1961-11-05  11.571429  11.571429  11.571429 NaN   9.590000
1961-11-06/1961-11-12  10.428571  10.428571  10.428571 NaN   7.690000
1961-11-13/1961-11-19  10.798571  10.798571  10.798571 NaN   7.951429
1961-11-20/1961-11-26   9.154286   9.154286   9.154286 NaN   7.337143
1961-11-27/1961-12-03  12.608571  12.608571  12.608571 NaN  10.442857
1961-12-04/1961-12-10  17.362857  17.362857  17.362857 NaN  14.362857
1961-12-11/1961-12-17  14.985714  14.985714  14.985714 NaN  13.472857
1961-12-18/1961-12-24  15.757143  15.757143  15.757143 NaN  11.971429
1961-12-25/1961-12-31  13.634286  13.634286  13.634286 NaN   9.504286

                                                       ROS             ...  \
                             max       mean std        min        max  ...
time                                                                   ...
1961-01-02/1961-01-08  11.486667  11.486667 NaN  10.487143  10.487143  ...
1961-01-09/1961-01-15   8.967143   8.967143 NaN  11.958571  11.958571  ...
1961-01-16/1961-01-22   9.862857   9.862857 NaN  12.982857  12.982857  ...
1961-01-23/1961-01-29  16.141429  16.141429 NaN  18.225714  18.225714  ...
1961-01-30/1961-02-05  15.460000  15.460000 NaN  12.618571  12.618571  ...
1961-02-06/1961-02-12  16.417143  16.417143 NaN  17.304286  17.304286  ...
1961-02-13/1961-02-19  15.091429  15.091429 NaN  13.797143  13.797143  ...
1961-02-20/1961-02-26  13.625714  13.625714 NaN  14.334286  14.334286  ...
1961-02-27/1961-03-05  12.951429  12.951429 NaN  11.063333  11.063333  ...
1961-03-06/1961-03-12  11.578571  11.578571 NaN  10.845714  10.845714  ...
1961-03-13/1961-03-19  13.501429  13.501429 NaN  11.607143  11.607143  ...
1961-03-20/1961-03-26   8.387143   8.387143 NaN   9.695714   9.695714  ...
1961-03-27/1961-04-02   8.852857   8.852857 NaN   9.501429   9.501429  ...
1961-04-03/1961-04-09  10.654286  10.654286 NaN  13.607143  13.607143  ...
1961-04-10/1961-04-16   8.000000   8.000000 NaN   8.787143   8.787143  ...
1961-04-17/1961-04-23  10.438571  10.438571 NaN  10.255714  10.255714  ...
1961-04-24/1961-04-30   9.798571   9.798571 NaN   8.281429   8.281429  ...
1961-05-01/1961-05-07  13.970000  13.970000 NaN  13.834286  13.834286  ...
1961-05-08/1961-05-14   8.712857   8.712857 NaN   8.172857   8.172857  ...
1961-05-15/1961-05-21   5.631667   5.631667 NaN  12.042857  12.042857  ...
1961-05-22/1961-05-28   7.388571   7.388571 NaN   8.512857   8.512857  ...
1961-05-29/1961-06-04   7.407143   7.407143 NaN  10.065714  10.065714  ...
1961-06-05/1961-06-11   8.992857   8.992857 NaN   8.095714   8.095714  ...
1961-06-12/1961-06-18   9.565714   9.565714 NaN  10.875714  10.875714  ...
1961-06-19/1961-06-25   6.108571   6.108571 NaN   8.084286   8.084286  ...
1961-06-26/1961-07-02   9.482857   9.482857 NaN   8.648571   8.648571  ...
1961-07-03/1961-07-09   7.220000   7.220000 NaN   9.320000   9.320000  ...
1961-07-10/1961-07-16  13.518571  13.518571 NaN  11.171429  11.171429  ...
1961-07-17/1961-07-23   4.255714   4.255714 NaN   6.738571   6.738571  ...
1961-07-24/1961-07-30   8.445714   8.445714 NaN   9.352857   9.352857  ...
1961-07-31/1961-08-06   8.792857   8.792857 NaN   9.858571   9.858571  ...
1961-08-07/1961-08-13   7.941429   7.941429 NaN   8.728571   8.728571  ...
1961-08-14/1961-08-20  10.565714  10.565714 NaN  11.065714  11.065714  ...
1961-08-21/1961-08-27  11.430000  11.430000 NaN  12.768571  12.768571  ...
1961-08-28/1961-09-03   8.821429   8.821429 NaN   6.745714   6.745714  ...
1961-09-04/1961-09-10   8.798571   8.798571 NaN   8.185714   8.185714  ...
1961-09-11/1961-09-17  14.440000  14.440000 NaN  15.617143  15.617143  ...
1961-09-18/1961-09-24   7.154286   7.154286 NaN   7.993333   7.993333  ...
1961-09-25/1961-10-01  11.361667  11.361667 NaN  13.062857  13.062857  ...
1961-10-02/1961-10-08   8.757143   8.757143 NaN  10.167143  10.167143  ...
1961-10-09/1961-10-15   9.734286   9.734286 NaN   9.104286   9.104286  ...
1961-10-16/1961-10-22  13.364286  13.364286 NaN  15.828571  15.828571  ...
1961-10-23/1961-10-29  11.867143  11.867143 NaN  14.608571  14.608571  ...
1961-10-30/1961-11-05   9.590000   9.590000 NaN  10.827143  10.827143  ...
1961-11-06/1961-11-12   7.690000   7.690000 NaN  10.272857  10.272857  ...
1961-11-13/1961-11-19   7.951429   7.951429 NaN  16.988571  16.988571  ...
1961-11-20/1961-11-26   7.337143   7.337143 NaN   8.662857   8.662857  ...
1961-11-27/1961-12-03  10.442857  10.442857 NaN  11.481429  11.481429  ...
1961-12-04/1961-12-10  14.362857  14.362857 NaN  15.460000  15.460000  ...
1961-12-11/1961-12-17  13.472857  13.472857 NaN  13.720000  13.720000  ...
1961-12-18/1961-12-24  11.971429  11.971429 NaN  12.840000  12.840000  ...
1961-12-25/1961-12-31   9.504286   9.504286 NaN  15.804286  15.804286  ...

                             CLO            BEL                            \
                            mean std        min        max       mean std
time
1961-01-02/1961-01-08   8.497143 NaN  12.481429  12.481429  12.481429 NaN
1961-01-09/1961-01-15   7.571429 NaN  11.125714  11.125714  11.125714 NaN
1961-01-16/1961-01-22   8.124286 NaN   9.821429   9.821429   9.821429 NaN
1961-01-23/1961-01-29  15.640000 NaN  20.930000  20.930000  20.930000 NaN
1961-01-30/1961-02-05   9.460000 NaN  14.012857  14.012857  14.012857 NaN
1961-02-06/1961-02-12  14.440000 NaN  21.832857  21.832857  21.832857 NaN
1961-02-13/1961-02-19  13.542857 NaN  21.167143  21.167143  21.167143 NaN
1961-02-20/1961-02-26  12.730000 NaN  16.304286  16.304286  16.304286 NaN
1961-02-27/1961-03-05  12.370000 NaN  17.842857  17.842857  17.842857 NaN
1961-03-06/1961-03-12  10.458571 NaN  16.701429  16.701429  16.701429 NaN
1961-03-13/1961-03-19  11.627143 NaN  19.350000  19.350000  19.350000 NaN
1961-03-20/1961-03-26  11.481429 NaN  14.037143  14.037143  14.037143 NaN
1961-03-27/1961-04-02   9.631429 NaN  13.471429  13.471429  13.471429 NaN
1961-04-03/1961-04-09   7.238571 NaN  11.712857  11.712857  11.712857 NaN
1961-04-10/1961-04-16   6.178571 NaN   9.482857   9.482857   9.482857 NaN
1961-04-17/1961-04-23   9.551429 NaN  13.620000  13.620000  13.620000 NaN
1961-04-24/1961-04-30   6.124286 NaN   9.720000   9.720000   9.720000 NaN
1961-05-01/1961-05-07  11.585714 NaN  17.548571  17.548571  17.548571 NaN
1961-05-08/1961-05-14   7.822857 NaN  10.421429  10.421429  10.421429 NaN
1961-05-15/1961-05-21   7.114286 NaN   9.624286   9.624286   9.624286 NaN
1961-05-22/1961-05-28   7.535714 NaN  10.518571  10.518571  10.518571 NaN
1961-05-29/1961-06-04   9.035714 NaN  12.298571  12.298571  12.298571 NaN
1961-06-05/1961-06-11   8.397143 NaN  10.148571  10.148571  10.148571 NaN
1961-06-12/1961-06-18   9.594286 NaN  15.351429  15.351429  15.351429 NaN
1961-06-19/1961-06-25  11.257143 NaN  14.370000  14.370000  14.370000 NaN
1961-06-26/1961-07-02  10.268571 NaN  14.535714  14.535714  14.535714 NaN
1961-07-03/1961-07-09  10.547143 NaN  12.220000  12.220000  12.220000 NaN
1961-07-10/1961-07-16  10.157143 NaN  13.520000  13.520000  13.520000 NaN
1961-07-17/1961-07-23   6.041429 NaN   7.524286   7.524286   7.524286 NaN
1961-07-24/1961-07-30   9.470000 NaN  12.841429  12.841429  12.841429 NaN
1961-07-31/1961-08-06   8.951429 NaN  11.595714  11.595714  11.595714 NaN
1961-08-07/1961-08-13   7.235000 NaN  10.934286  10.934286  10.934286 NaN
1961-08-14/1961-08-20  12.244286 NaN  14.922857  14.922857  14.922857 NaN
1961-08-21/1961-08-27  12.507143 NaN  16.251429  16.251429  16.251429 NaN
1961-08-28/1961-09-03   8.924286 NaN  13.664286  13.664286  13.664286 NaN
1961-09-04/1961-09-10   7.565714 NaN  10.700000  10.700000  10.700000 NaN
1961-09-11/1961-09-17  14.268571 NaN  19.878571  19.878571  19.878571 NaN
1961-09-18/1961-09-24   6.798571 NaN  11.018571  11.018571  11.018571 NaN
1961-09-25/1961-10-01  11.840000 NaN  16.208571  16.208571  16.208571 NaN
1961-10-02/1961-10-08   7.662857 NaN   8.810000   8.810000   8.810000 NaN
1961-10-09/1961-10-15   9.494286 NaN  14.451429  14.451429  14.451429 NaN
1961-10-16/1961-10-22  16.461429 NaN  17.477143  17.477143  17.477143 NaN
1961-10-23/1961-10-29  12.952857 NaN  15.592857  15.592857  15.592857 NaN
1961-10-30/1961-11-05  11.864286 NaN  16.322857  16.322857  16.322857 NaN
1961-11-06/1961-11-12   6.415714 NaN   9.208571   9.208571   9.208571 NaN
1961-11-13/1961-11-19   6.031429 NaN   5.875714   5.875714   5.875714 NaN
1961-11-20/1961-11-26   9.582857 NaN  11.772857  11.772857  11.772857 NaN
1961-11-27/1961-12-03   7.911429 NaN  11.464286  11.464286  11.464286 NaN
1961-12-04/1961-12-10  12.022857 NaN  15.975714  15.975714  15.975714 NaN
1961-12-11/1961-12-17  11.058571 NaN  15.112857  15.112857  15.112857 NaN
1961-12-18/1961-12-24   7.697143 NaN   9.958571   9.958571   9.958571 NaN
1961-12-25/1961-12-31   7.701429 NaN   9.697143   9.697143   9.697143 NaN

                             MAL
                             min        max       mean std
time
1961-01-02/1961-01-08  13.238571  13.238571  13.238571 NaN
1961-01-09/1961-01-15  11.024286  11.024286  11.024286 NaN
1961-01-16/1961-01-22  11.434286  11.434286  11.434286 NaN
1961-01-23/1961-01-29  22.530000  22.530000  22.530000 NaN
1961-01-30/1961-02-05  11.935714  11.935714  11.935714 NaN
1961-02-06/1961-02-12  19.155714  19.155714  19.155714 NaN
1961-02-13/1961-02-19  16.584286  16.584286  16.584286 NaN
1961-02-20/1961-02-26  14.322857  14.322857  14.322857 NaN
1961-02-27/1961-03-05  13.951667  13.951667  13.951667 NaN
1961-03-06/1961-03-12  14.420000  14.420000  14.420000 NaN
1961-03-13/1961-03-19  16.227143  16.227143  16.227143 NaN
1961-03-20/1961-03-26  18.134286  18.134286  18.134286 NaN
1961-03-27/1961-04-02  13.900000  13.900000  13.900000 NaN
1961-04-03/1961-04-09  11.371429  11.371429  11.371429 NaN
1961-04-10/1961-04-16   8.690000   8.690000   8.690000 NaN
1961-04-17/1961-04-23  12.470000  12.470000  12.470000 NaN
1961-04-24/1961-04-30   8.637143   8.637143   8.637143 NaN
1961-05-01/1961-05-07  14.571429  14.571429  14.571429 NaN
1961-05-08/1961-05-14  10.382857  10.382857  10.382857 NaN
1961-05-15/1961-05-21  10.612857  10.612857  10.612857 NaN
1961-05-22/1961-05-28  11.697143  11.697143  11.697143 NaN
1961-05-29/1961-06-04  13.597143  13.597143  13.597143 NaN
1961-06-05/1961-06-11  12.250000  12.250000  12.250000 NaN
1961-06-12/1961-06-18  15.025714  15.025714  15.025714 NaN
1961-06-19/1961-06-25  17.410000  17.410000  17.410000 NaN
1961-06-26/1961-07-02  12.133333  12.133333  12.133333 NaN
1961-07-03/1961-07-09  15.987143  15.987143  15.987143 NaN
1961-07-10/1961-07-16  12.524286  12.524286  12.524286 NaN
1961-07-17/1961-07-23   8.415714   8.415714   8.415714 NaN
1961-07-24/1961-07-30  13.761429  13.761429  13.761429 NaN
1961-07-31/1961-08-06  13.760000  13.760000  13.760000 NaN
1961-08-07/1961-08-13  10.125714  10.125714  10.125714 NaN
1961-08-14/1961-08-20  16.626667  16.626667  16.626667 NaN
1961-08-21/1961-08-27  16.485714  16.485714  16.485714 NaN
1961-08-28/1961-09-03  11.022857  11.022857  11.022857 NaN
1961-09-04/1961-09-10  11.034286  11.034286  11.034286 NaN
1961-09-11/1961-09-17  18.984286  18.984286  18.984286 NaN
1961-09-18/1961-09-24   9.814286   9.814286   9.814286 NaN
1961-09-25/1961-10-01  13.338571  13.338571  13.338571 NaN
1961-10-02/1961-10-08  11.410000  11.410000  11.410000 NaN
1961-10-09/1961-10-15  15.260000  15.260000  15.260000 NaN
1961-10-16/1961-10-22  23.641429  23.641429  23.641429 NaN
1961-10-23/1961-10-29  18.404286  18.404286  18.404286 NaN
1961-10-30/1961-11-05  19.195714  19.195714  19.195714 NaN
1961-11-06/1961-11-12  10.858571  10.858571  10.858571 NaN
1961-11-13/1961-11-19   5.737143   5.737143   5.737143 NaN
1961-11-20/1961-11-26  12.732857  12.732857  12.732857 NaN
1961-11-27/1961-12-03  14.725714  14.725714  14.725714 NaN
1961-12-04/1961-12-10  16.241429  16.241429  16.241429 NaN
1961-12-11/1961-12-17  14.644286  14.644286  14.644286 NaN
1961-12-18/1961-12-24   8.164286   8.164286   8.164286 NaN
1961-12-25/1961-12-31  12.840000  12.840000  12.840000 NaN

[52 rows x 48 columns]