# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, 5, 100))
s2 = pd.Series(np.random.randint(1, 4, 100))
s3 = pd.Series(np.random.randint(10000, 30001, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.DataFrame([s1,s2,s3]).transpose()
df.head()

   0  1      2
0  2  1  15144
1  3  1  24856
2  2  3  28886
3  1  1  28378
4  3  1  25824

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df = df.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'})
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            15144
1      3       1            24856
2      2       3            28886
3      1       1            28378
4      3       1            25824

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [16]:
bigcolumn = pd.concat([s1,s2,s3])

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [19]:
#Yes
bigcolumn

0         2
1         3
2         2
3         1
4         3
      ...
95    21598
96    18794
97    17959
98    25952
99    19661
Length: 300, dtype: int32

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [24]:
bigcolumn.reset_index(drop=True)

0          2
1          3
2          2
3          1
4          3
       ...
295    21598
296    18794
297    17959
298    25952
299    19661
Length: 300, dtype: int32